& {
  display: flex;
  align-items: center;
  justify-content: center;
}

&.size-small {
  width: 16px;
  height: 16px;
}

&.size-medium {
  width: 20px;
  height: 20px;
}

&.size-large {
  width: 24px;
  height: 24px;
}

&.position-start {
  margin-right: 10px;
}

&.position-end {
  margin-left: 10px;
}

svg {
  width: 100%;
  height: 100%;
}
